@import "./mixins";
@import "./variables";

header.headerBlog{
    background-image: url(../assets/blog-1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.blogPost h2{
    @include baseFont(3.9rem, 1.8px, 700);
    line-height:85px;
    margin-bottom: 0;
}

.topSecLinks{
    display: flex;
    margin-bottom: 8%;
    @include bodyStyle(0.875rem);
}

.topSecLinks li{
    padding-right: 5px;
    a{
        color: $primaryFontColor;
    }
}

.blogContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alexGrp{
    display: flex;
    align-items: center;
}

.alexImg img{
    border-radius: 50%;
}

.alexTxt{
    margin-left: 20px;
}

.dctGrp{
    width: 60%;
}

.dctGrp ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.bpSocials{
    display: flex;
}

.bpSocials ul{
    display: flex;
    align-items: center;
}

.bpSocials ul li{
    padding-left: 20px;
}

.bolded{
    font-weight: bold;
}

.bpBottom p{
    @include bodyStyle(0.875rem);
}

.blogContainer h4,
.blogContainer p{
    margin: 5px;
}

.blogContainer h4{
    @include baseFont(1.125rem, 1.8px, 500);
}

.blogContainer p{
    @include bodyStyle(0.875rem);
}

.bpSocials h4{
    @include baseFont(1.125rem, 1.8px, 500);
}

.bpSocials{
    margin-bottom: 80px;
}

.bpRelatedPost h3,
.bpComments h3,
.blogForm h3{
    @include baseFont(1.8rem, 1.8px, 700);
    padding-bottom: 20px;
    border-bottom: 1px solid $secondaryColor;
}

.bpRelatedPost ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bpRelatedPost ul li{
    margin-right: 20px;
    width: calc(100% / 3 - 20px);
}

.firstComment,
.secondComment{
    display: flex;
}

.firstComment{
    margin-bottom: 40px;
}

// used a different color to set this up then swapped to this. Some friends from class were also helping to be my eyes
.bgColorComments{
    background-color: $unseeableColor;
    width: 100%;
    padding: 20px;
    position: relative;
}

// arrows in chat box
.bgColorComments::before{
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 15px 8px 0;
    border-color: transparent $unseeableColor transparent transparent;
    border-style: solid;
    position: absolute;
    top: 8px;
    left: -13px;
}

.reply{
    display: flex;
    align-items: center;
}

.reply h4,
.reply p{
    margin: 0;
}

.reply h4{
    margin-right: 5px;
    @include baseFont(1.125rem, 0.9px, 500);
}

.reply p{
    color: $replyColor;
    font-style: italic;
}

.commentImg{
    margin-right: 40px;
}

.date{
    @include bodyStyle(0.875rem);
    
}