@import "./mixins";
@import "./variables";

.footContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerSecOne p,
.footerSecTwo p,
.footerSecThree p{
    @include bodyStyle(0.875rem);
    margin: 6px 0;
}

.footerSecOne i{
    font-size: 0.875rem;
}

.bottomFoot p{
    text-transform: uppercase;
    text-align: center;
    @include footerLogo(1.5rem, 3.8px);
}

.footerSecTwo ul li h3{
    text-align: center;
}

.footerSecTwo ul li{
    list-style-type: disc;
}

.footerSecTwo ul li:first-child{
    list-style-type: none;
}

.socialsFoot ul{
    display: flex;
}

.socialsFoot i{
    padding: 0 20px;
}

.socialsFoot i:first-child{
    padding-left: 0;
}

.footerSecThree ul li h3{
    text-align: right;
}

.footerSecOne h3,
.footerSecTwo h3,
.footerSecThree h3{
    @include baseFont(1.25rem, 1.8px, 500);
}