@import "./mixins";
@import "./variables";

footer{
    background-color: $primaryFontColor;
    background-size: contain;
    color: $thirdColor;
    padding-top: 120px;
}

.footContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.footerSecOne,
.footerSecTwo,
.footerSecThree{
    min-width: calc(100% / 3)
}

.footerSecOne p,
.footerSecTwo p,
.footerSecThree p{
    @include bodyStyle(0.875rem);
    margin: 6px 0;
}

.footerSecOne i{
    font-size: 0.875rem;
}

.footerSecTwo{
    display: flex;
    justify-content: center;
}

.footerSecTwo ul{
    margin-top: 0;
    margin-left: 30px;
}

.footerSecTwo ul li h3{
    text-align: center;
}

.footerSecTwo ul li{
    list-style-type: disc;
}

.footerSecTwo ul li:first-child{
    list-style-type: none;
}


.socialsFoot ul{
    display: flex;
}

.socialsFoot i{
    padding: 0 20px;
}

.socialsFoot i:first-child{
    padding-left: 0;
}

.footerSecThree ul li h3{
    text-align: right;
}

.footerSecOne h3,
.footerSecTwo h3,
.footerSecThree h3{
    @include baseFont(1.25rem, 1.8px, 500);
}

.bottomFoot{
    border-top: 1px solid $secondaryColor;
}

.bottomFoot p{
    text-transform: uppercase;
    text-align: center;
    @include footerLogo(0.875rem, 3.8px);
    margin-bottom: 0;
    padding: 40px 0;
}

footer input,
footer button{
    padding: 8px;
    border: none;
}

footer button{
    background-color: $forthColor;
    width: 20%;
}

footer input{
    width: 61%;
    margin-right: -10px;
}

footer form,
.footerSecThree p{
    display: flex;
    justify-content: flex-end;
}
