.footContainer{
    display: flex;
    justify-content: space-between;
}

.footerSecOne p,
.footerSecOne i,
.footerSecTwo p,
.footerSecThree p{
    font-size: 0.875rem;
}

.bottomFoot p{
    text-transform: uppercase;
    text-align: center;
}

.socialsFoot ul{
    display: flex;
}

.socialsFoot i{
    padding: 0 20px;
}

.socialsFoot i:first-child{
    padding-left: 0;
}