a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
}

body{
    font-size: 125%;
    // font-family: $baseFont;
}


.wrapper{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

// general styles for forms

.formContain{
    display: flex;
}

textarea{
    padding-top: 40px;
    resize: none;
    width: 100%;
    display: flex;
    align-self: center;
    border: none;
    border-bottom: 1px solid #F6F6F6;
}

.subButton{
    margin-top: 40px;
}