@import "./variables";

.headerNav{
    display: flex;
    justify-content: space-between;
}

nav.navOne ul, 
nav.navTwo ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav.navOne ul li,
nav.navTwo ul li{
    padding: 20px 30px;
}

nav.navOne ul li:first-child,
nav.navTwo ul li:first-child{
    padding-left: 0;
}

nav.navOne ul li:last-child,
nav.navTwo ul li:last-child{
    padding-right: 0;
}

// why doesnt this work?, works when I use the color black but doesnt connect to my variables. Only works when I put $primaryFontColor in this file?
nav.navOne ul li a,
nav.navTwo ul li a,
nav.navOne ul li i,
nav.navTwo ul li i{
    color: $primaryFontColor;
    font-size: 0.875rem;

}

h1{
    @include baseFont(2.313rem, 0.9px, 700);
    line-height: 100%;
}

// hover effect

// nav.navOne ul li a{
//     position: relative;
//     overflow: hidden;
//     transition: .25s ease all;
//     padding: 5px 5px;
// }

// nav.navOne ul li a::after{
//     content: "";
//     position: absolute;
//     display: block;
//     bottom: 7px;
//     left: -150%;
//     height: 1px;
//     width: 150%;
//     background: #333;
//     transition: .5s ease all;
    
// }

// nav.navOne ul li a:hover::after{
//     left: -9px; 
    
// }