@import "./variables";
@import "./mixins";

.headerNav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1{
    order: 2;
}

nav.navOne{
    order: 1;
}

nav.navTwo{
    order: 3;
}

nav.navOne ul, 
nav.navTwo ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav.navOne ul li,
nav.navTwo ul li{
    padding: 20px 30px;
}

nav.navOne ul li:first-child,
nav.navTwo ul li:first-child{
    padding-left: 0;
}

nav.navOne ul li:last-child,
nav.navTwo ul li:last-child{
    padding-right: 0;
}

nav.navOne ul li a,
nav.navTwo ul li a,
nav.navOne ul li i,
nav.navTwo ul li i,
nav.mobile ul li a,
nav.mobile ul li i{
    color: $primaryFontColor;
    font-size: 0.875rem;
}

h1{
    @include baseFont(2.313rem, 0.9px, 700);
    line-height: 100%;
}

.withTwo{
    position: relative;
}

.withTwo p{
    position: absolute;
    top: 28px;
    right: -7px;
    font-size: 0.5rem;
    background-color: $forthColor;
    border-radius: 50%;
    padding: 3px 5px;
    width: 15px;
    height: 15px;

}
// hover effect

nav.navOne ul li a,
nav.navTwo ul li a{
    position: relative;
    overflow: hidden;
    transition: .15s ease all;
    padding: 5px 5px;
}

nav.navOne ul li a::after,
nav.navTwo ul li a::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 14px;
    left: -40%;
    background: #333;
    transition: .5s ease all;
    
}

nav.navOne ul li a:hover::after,
nav.navTwo ul li a:hover::after{
    left: -9px; 
    height: 1px;
    width: 120%;
}

// hamburger

.hamburger{
    display: none;
}

nav.mobile{
    text-align: center;
    background: #F6F6F6;
    display: none;
}

nav.mobile ul li{
    padding: 20px 20px;
}

.wrapper2{
    width: 60%;
    margin: 0 auto;
}

.withTwoMobile{
    position: relative;
}

.withTwoMobile p{
    position: absolute;
    top: 27px;
    right: 152px;
    font-size: 0.5rem;
    background-color: $forthColor;
    border-radius: 50%;
    padding: 3px 5px;
    width: 15px;
    height: 15px;

}

.showNav{
    position: relative;
    left: 0;
}

.hideNav{
    position: relative;
    left: 100%;
}