@import "./mixins";
@import "./variables";


header.headerHome{
    background-image: url(../assets/home-1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


// section one home page css
section.hSecOne{
    padding-top: 15%;
    padding-bottom: 8%;
    background-color: $forthColor;
}

.secOneImgGrp{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.imgGrpDesk{
    width: 100%;
}

.imgGrpDesk img{
    width: 45%;
}


.imgGrpCircle{
    position: absolute;
    top: -29%;
    left: 19%;
}

.secOneTxtGrp{
    display: flex;
    margin-top: 5%;
    margin-bottom: 12%;   
}

.branding{
    margin-left: 10%;
    margin-right: 2%;
}

.desAndDev{
    margin-right: 10%;
    margin-left: 2%;
}

.branding, 
.desAndDev{
    width: 35%;
    text-align: center;
    width: calc(100% / 2);
}


.branding p,
.desAndDev p{
    @include bodyStyle(0.875rem);
}

.branding h2,
.desAndDev h2{
    @include baseFont(1.125rem, 1.8px, 500);
}


// section two home page css
.hSecTwo{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel{
    width: 70%;
    text-align: center;
    margin-bottom: 10%;
}

.carousel p{
    @include bodyStyle(0.875rem);
}

.carousel img{
    border-radius: 50%;
}

// section three home page css
.hSecThree{
    background-image: url(../assets/home-4.jpeg);
    background-size: cover;
    height: 100vh;
    background-position:right;
    display: flex;
    align-items: center;
}

.secThreeContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.hSecThree p{
    @include bodyStyle(0.875rem);
}

.hSecThree ul li{
    display: flex;
}

.hSecThree ul{
    width: 25%;
}

.secThreePtOne{
    margin-right: 2%;
}

.secThreePtTwo{
    margin-right: 5%;
}

.iconsSecThree{
    margin-top: 20%;
    margin-right: 10%;
}

.iconsSecThree i{
    border: 3px solid black;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

// section four home page css

.vl{
    border-left: 6px solid #f6f6f6f6;
    height: 100px;
    text-align: center;
    position: relative;
    left: 50%;
}

.hSecFour h2{
    text-align: center;
    margin-bottom: 10%;
    @include baseFont(1.5rem, 1.8px, 500)
}

.teamContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.teamOne{
    width: 48%;
    margin-right: 30px;
    margin-bottom: 30px;
}

.teamImgGrpOne,
.teamImgGrpTwo,
.teamImgWithTxt{
    display: flex;
}

.teamImgGrpOne img:last-child,
.teamImgGrpTwo img:last-child,
.teamTwoTxt{
    margin-left: 30px;
}

.teamImgWithTxt,
.teamImgGrpOne{
    margin-top: 30px;
}

.teamOneTxt p{
    margin-bottom: 0;
    @include bodyStyle(0.875rem);
}

.teamOneTxt{
    padding-top: 139px;
}

.teamOneTxt h3{
    @include baseFont(1.125rem, 1.8px, 500)
}

.teamTwoTxt{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.teamTwoTxt h3{
    @include baseFont(1.125rem, 1.8px, 500);
    text-align: center;
    width: 62%;
}

.teamOne,
.teamTwo{
    min-width: calc(100% / 2 - 60px);
}

// section five home page css

.hSecFive{
    display: flex;
    margin-top: 10%;
}

.secFiveTxt,
.secFiveImg{
    width: calc(100% / 2);
}

.secFiveImg img{
    width: 100%;
    display: block;
}

.secFiveTxt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.secFiveTxtContain{
    width: 50%;
    text-align: center;
}

.secFiveTxtContain p{
    @include bodyStyle(0.875rem);
    padding-bottom: 30px;
}

.secFiveTxt{
 background-color: $forthColor;   
}

.secFiveTxt h2{
    @include baseFont(1.125rem, 1.8px, 500);
    margin-bottom: 40px;
}

.secFiveTxt a{
    padding: 20px 30px;
    color: $primaryFontColor;
    background-color: $thirdColor;
    @include baseFont(0.875rem, 0.7px, 700);
}

.secFiveTxt a:hover{
    color: $thirdColor;
    background-color: $secondaryColor;
    transition: 0.5s ease-in;
}