$baseFont: 'Montserrat', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

$primaryFontColor: #333333;

// colour changed to lightslategrey because I cannot see #F6F6F6
$secondaryColor:#778899;

$thirdColor: #FFFFFF;

$forthColor: #C3DAB7;