header.headerBlog {
  background-image: url(../assets/blog-1.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.blogPost h2 {
  font-size: 3.9rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 85px;
  margin-bottom: 0;
}

.topSecLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8%;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.topSecLinks li {
  padding-right: 5px;
}

.topSecLinks li a {
  color: #333333;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.alexGrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alexImg img {
  border-radius: 50%;
}

.alexTxt {
  margin-left: 20px;
}

.dctGrp {
  width: 60%;
}

.dctGrp ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.bpSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bpSocials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bpSocials ul li {
  padding-left: 20px;
}

.bolded {
  font-weight: bold;
}

.bpBottom p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.blogContainer h4,
.blogContainer p {
  margin: 5px;
}

.blogContainer h4 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.blogContainer p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.bpSocials h4 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.bpSocials {
  margin-bottom: 80px;
}

.bpRelatedPost h3,
.bpComments h3,
.blogForm h3 {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #778899;
}

.bpRelatedPost ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bpRelatedPost ul li {
  margin-right: 20px;
  min-width: calc(100% / 3 - 20px);
}

.firstComment,
.secondComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstComment {
  margin-bottom: 40px;
}

.bgColorComments {
  background-color: #F6F6F6F6;
  width: 100%;
  padding: 20px;
  position: relative;
}

.bgColorComments::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 15px 8px 0;
  border-color: transparent #F6F6F6F6 transparent transparent;
  border-style: solid;
  position: absolute;
  top: 8px;
  left: -13px;
}

.reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reply h4,
.reply p {
  margin: 0;
}

.reply h4 {
  margin-right: 5px;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.9px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.reply p {
  color: #008000;
  font-style: italic;
}

.commentImg {
  margin-right: 40px;
}

.date {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.contactBanner img {
  width: 100%;
}

.contactTextGroup h2 {
  font-size: 3.9rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 70px;
  width: 30%;
  margin-top: -8%;
}

.contactTextGroup h2 {
  position: relative;
}

.contactTextGroup h2::before {
  content: "_";
  position: absolute;
  top: -96px;
  left: 6px;
  font-size: 5rem;
}

.contactTextGroup h3 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.contactTextGroup p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
  width: 60%;
}

.contactTextGroup {
  margin-bottom: 10%;
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}

.contactIcons li {
  min-width: calc(100% / 3);
}

.contactIcons i {
  font-size: 3.75rem;
}

.contactIcons h4 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.contactIcons p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.phoneIcon,
.mapIcon {
  border-right: 1px solid #778899;
  height: 200px;
  margin-right: 60px;
}

.contactFormTxt {
  margin-bottom: 7%;
}

.imgBanner img {
  width: 100%;
  display: block;
}

footer {
  background-color: #333333;
  background-size: contain;
  color: #FFFFFF;
  padding-top: 120px;
}

.footContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
}

.footerSecOne,
.footerSecTwo,
.footerSecThree {
  min-width: calc(100% / 3);
}

.footerSecOne p,
.footerSecTwo p,
.footerSecThree p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
  margin: 6px 0;
}

.footerSecOne i {
  font-size: 0.875rem;
}

.footerSecTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerSecTwo ul {
  margin-top: 0;
  margin-left: 30px;
}

.footerSecTwo ul li h3 {
  text-align: center;
}

.footerSecTwo ul li {
  list-style-type: disc;
}

.footerSecTwo ul li:first-child {
  list-style-type: none;
}

.socialsFoot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialsFoot i {
  padding: 0 20px;
}

.socialsFoot i:first-child {
  padding-left: 0;
}

.footerSecThree ul li h3 {
  text-align: right;
}

.footerSecOne h3,
.footerSecTwo h3,
.footerSecThree h3 {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.bottomFoot {
  border-top: 1px solid #778899;
}

.bottomFoot p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3.8px;
  line-height: 24px;
  margin-bottom: 0;
  padding: 40px 0;
}

footer input,
footer button {
  padding: 8px;
  border: none;
}

footer button {
  background-color: #C3DAB7;
  width: 20%;
}

footer input {
  width: 61%;
  margin-right: -10px;
}

footer form,
.footerSecThree p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.formContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form textarea {
  resize: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border: none;
  border-bottom: 1px solid #778899;
  margin-top: 40px;
}

.contactForm input {
  border: none;
  border-bottom: 1px solid #778899;
  width: calc(100% / 3 - 41px);
  margin: 0 20px;
  padding: 20px 0;
}

.contactForm #userName {
  margin-left: 0;
}

.contactForm #subject {
  margin-right: 0;
}

.subButton {
  margin-top: 60px;
  margin-bottom: 80px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.7px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid transparent;
}

.subButton:hover {
  border-bottom: 1px solid #333333;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

nav.navOne {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

nav.navTwo {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

nav.navOne ul,
nav.navTwo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

nav.navOne ul li,
nav.navTwo ul li {
  padding: 20px 30px;
}

nav.navOne ul li:first-child,
nav.navTwo ul li:first-child {
  padding-left: 0;
}

nav.navOne ul li:last-child,
nav.navTwo ul li:last-child {
  padding-right: 0;
}

nav.navOne ul li a,
nav.navTwo ul li a,
nav.navOne ul li i,
nav.navTwo ul li i,
nav.mobile ul li a,
nav.mobile ul li i {
  color: #333333;
  font-size: 0.875rem;
}

h1 {
  font-size: 2.313rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.9px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
}

.withTwo {
  position: relative;
}

.withTwo p {
  position: absolute;
  top: 28px;
  right: -7px;
  font-size: 0.5rem;
  background-color: #C3DAB7;
  border-radius: 50%;
  padding: 3px 5px;
  width: 15px;
  height: 15px;
}

nav.navOne ul li a,
nav.navTwo ul li a {
  position: relative;
  overflow: hidden;
  -webkit-transition: .15s ease all;
  transition: .15s ease all;
  padding: 5px 5px;
}

nav.navOne ul li a::after,
nav.navTwo ul li a::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 14px;
  left: -40%;
  background: #333;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

nav.navOne ul li a:hover::after,
nav.navTwo ul li a:hover::after {
  left: -9px;
  height: 1px;
  width: 120%;
}

.hamburger {
  display: none;
}

nav.mobile {
  text-align: center;
  background: #F6F6F6;
  display: none;
}

nav.mobile ul li {
  padding: 20px 20px;
}

.wrapper2 {
  width: 60%;
  margin: 0 auto;
}

.withTwoMobile {
  position: relative;
}

.withTwoMobile p {
  position: absolute;
  top: 27px;
  right: 152px;
  font-size: 0.5rem;
  background-color: #C3DAB7;
  border-radius: 50%;
  padding: 3px 5px;
  width: 15px;
  height: 15px;
}

.showNav {
  display: block;
}

header.headerHome {
  background-image: url(../assets/home-1.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

section.hSecOne {
  padding-top: 15%;
  padding-bottom: 8%;
  background-color: #C3DAB7;
}

.secOneImgGrp {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgGrpDesk {
  width: 100%;
}

.imgGrpDesk img {
  width: 45%;
}

.imgGrpCircle {
  position: absolute;
  top: -29%;
  left: 19%;
}

.secOneTxtGrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  margin-bottom: 12%;
}

.branding {
  margin-left: 10%;
  margin-right: 2%;
}

.desAndDev {
  margin-right: 10%;
  margin-left: 2%;
}

.branding,
.desAndDev {
  width: 35%;
  text-align: center;
  width: calc(100% / 2);
}

.branding p,
.desAndDev p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.branding h2,
.desAndDev h2 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.hSecTwo {
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel {
  width: 70%;
  text-align: center;
  margin-bottom: 10%;
}

.carousel p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.carousel img {
  border-radius: 50%;
}

.hSecThree {
  background-image: url(../assets/home-4.jpeg);
  background-size: cover;
  height: 100vh;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secThreeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hSecThree p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.hSecThree ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hSecThree ul {
  width: 25%;
}

.secThreePtOne {
  margin-right: 2%;
}

.secThreePtTwo {
  margin-right: 5%;
}

.iconsSecThree {
  margin-top: 20%;
  margin-right: 10%;
}

.iconsSecThree i {
  border: 3px solid black;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
}

.iconTxtSec h3 {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.vl {
  border-left: 6px solid #f6f6f6f6;
  height: 100px;
  text-align: center;
  position: relative;
  left: 50%;
}

.hSecFour h2 {
  text-align: center;
  margin-bottom: 10%;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.teamContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teamContainer img {
  display: block;
}

.teamContainer img,
.teamContainer .teamTwoTxt,
.teamContainer .teamOneTxt {
  margin-bottom: 30px;
  margin-right: 30px;
}

.teamImgGrpOne,
.teamImgGrpTwo,
.teamImgWithTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teamTwoTxt {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teamImgWithTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.teamOne,
.teamTwo {
  margin: 0;
}

.teamOneTxt p {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.teamOneTxt {
  padding-top: 138px;
  width: 90%;
}

.teamOneTxt h3 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.teamTwoTxt h3 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  width: 62%;
}

.hSecFive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
}

.secFiveTxt,
.secFiveImg {
  width: calc(100% / 2);
}

.secFiveImg img {
  width: 100%;
  display: block;
}

.secFiveTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secFiveTxtContain {
  width: 50%;
  text-align: center;
}

.secFiveTxtContain p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
  padding-bottom: 30px;
}

.secFiveTxt {
  background-color: #C3DAB7;
}

.secFiveTxt h2 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 40px;
}

.secFiveTxt a {
  padding: 20px 30px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.7px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.secFiveTxt a:hover {
  color: #FFFFFF;
  background-color: #778899;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

@media (max-width: 1342px) {
  .teamContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hSecThree ul {
    width: 35%;
  }
  .contactTextGroup h2 {
    font-size: 3rem;
    line-height: 60px;
  }
  .contactTextGroup h2::before {
    font-size: 4rem;
  }
}

@media (max-width: 1240px) {
  .imgGrpCircle {
    top: -34%;
    left: 17%;
  }
  .contactTextGroup h2::before {
    top: -70%;
  }
}

@media (max-width: 1175px) {
  .footerSecOne,
  .footerSecThree ul li h3 {
    text-align: center;
  }
  .socialsFoot ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1100px) {
  .imgGrpCircle img {
    width: 80%;
  }
  .contactIcons {
    text-align: center;
  }
  .mapIcon,
  .phoneIcon {
    border: none;
  }
  .mapIcon,
  .phoneIcon,
  .mailIcon {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .contactTextGroup h2::before {
    top: -50%;
  }
}

@media (max-width: 1067px) {
  h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  nav.navOne {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  nav.navTwo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 1000px) {
  .contactContain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContain input[type="text"],
  .contactContain input[type="email"] {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 940px) {
  .hSecThree ul {
    width: 45%;
  }
  .imgGrpCircle img {
    width: 70%;
  }
  .imgGrpCircle {
    left: 13%;
  }
  .hSecFive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .secFiveTxt,
  .secFiveImg {
    width: 100%;
  }
  .secFiveTxt {
    padding: 10% 0;
  }
  .contactTextGroup h2 {
    margin-top: 0;
  }
  .contactTextGroup h2::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .imgGrpCircle img {
    width: 50%;
  }
  .imgGrpCircle {
    top: -29%;
    left: 8%;
  }
}

@media (max-width: 662px) {
  header nav.navOne,
  header nav.navTwo {
    display: none;
  }
  .hamburger {
    display: block;
    margin: auto 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .teamImgGrpOne,
  .teamImgGrpTwo,
  .teamImgWithTxt,
  .teamOneTxt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imgGrpCircle img {
    width: 40%;
  }
  .imgGrpCircle {
    left: 4%;
  }
  .secOneTxtGrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .branding,
  .desAndDev {
    margin: 0;
  }
  .secThreePtTwo {
    display: none;
  }
  .hSecThree ul {
    width: 90%;
  }
  .contactTextGroup p {
    width: 100%;
  }
  h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  nav.navOne {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  nav.navTwo {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 550px) {
  .imgGrpCircle {
    left: 2%;
  }
  .reply p {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .imgGrpCircle {
    left: -4%;
  }
  .carousel img {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .secFiveTxt a {
    font-size: 0.5rem;
  }
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
