header.headerBlog {
  background-image: url(../assets/blog-1.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.blogPost h2 {
  font-size: 3.9rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 85px;
}

.topSecLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8%;
}

.topSecLinks li {
  padding-right: 5px;
}

.topSecLinks li a {
  color: #333333;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alexGrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dctGrp {
  width: 60%;
}

.dctGrp ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.contactBanner img {
  width: 100%;
}

.contactTextGroup h2 {
  font-size: 3.9rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 85px;
  width: 30%;
  margin-top: -10%;
}

.contactTextGroup h3 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.contactTextGroup p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
  width: 60%;
}

.contactTextGroup {
  margin-bottom: 15%;
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15%;
}

.contactIcons i {
  font-size: 3.75rem;
}

.contactIcons h4 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.contactIcons p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.phoneIcon,
.mapIcon {
  border-right: 2px solid #F6F6F6;
  padding-right: 20%;
}

.contactFormTxt {
  margin-bottom: 7%;
}

.imgBanner img {
  width: 100%;
}

.formContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

textarea {
  padding-top: 40px;
  resize: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border: none;
  border-bottom: 1px solid #F6F6F6;
}

.subButton {
  margin-top: 40px;
}

.footContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerSecOne p,
.footerSecTwo p,
.footerSecThree p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
  margin: 6px 0;
}

.footerSecOne i {
  font-size: 0.875rem;
}

.bottomFoot p {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3.8px;
  line-height: 24px;
}

.footerSecTwo ul li h3 {
  text-align: center;
}

.footerSecTwo ul li {
  list-style-type: disc;
}

.footerSecTwo ul li:first-child {
  list-style-type: none;
}

.socialsFoot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialsFoot i {
  padding: 0 20px;
}

.socialsFoot i:first-child {
  padding-left: 0;
}

.footerSecThree ul li h3 {
  text-align: right;
}

.footerSecOne h3,
.footerSecTwo h3,
.footerSecThree h3 {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.navOne ul,
nav.navTwo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

nav.navOne ul li,
nav.navTwo ul li {
  padding: 20px 30px;
}

nav.navOne ul li:first-child,
nav.navTwo ul li:first-child {
  padding-left: 0;
}

nav.navOne ul li:last-child,
nav.navTwo ul li:last-child {
  padding-right: 0;
}

nav.navOne ul li a,
nav.navTwo ul li a,
nav.navOne ul li i,
nav.navTwo ul li i {
  color: #333333;
  font-size: 0.875rem;
}

h1 {
  font-size: 2.313rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.9px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
}

header.headerHome {
  background-image: url(../assets/home-1.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

section.hSecOne {
  margin-top: 15%;
}

.secOneImgGrp {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgGrpDesk {
  width: 100%;
}

.imgGrpDesk img {
  width: 45%;
}

.imgGrpCircle {
  position: absolute;
  top: -29%;
  left: 19%;
}

.secOneTxtGrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  margin-bottom: 12%;
}

.branding {
  margin-left: 10%;
  margin-right: 2%;
}

.desAndDev {
  margin-right: 10%;
  margin-left: 2%;
}

.branding,
.desAndDev {
  width: 35%;
  text-align: center;
  width: calc(100% / 2);
}

.branding p,
.desAndDev p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.branding h2,
.desAndDev h2 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.hSecTwo {
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel {
  width: 70%;
  text-align: center;
  margin-bottom: 10%;
}

.carousel p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.carousel img {
  border-radius: 50%;
}

.hSecThree {
  background-image: url(../assets/home-4.jpeg);
  background-size: cover;
  height: 100vh;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secThreeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hSecThree p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.hSecThree ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hSecThree ul {
  width: 25%;
}

.secThreePtOne {
  margin-right: 2%;
}

.secThreePtTwo {
  margin-right: 5%;
}

.iconsSecThree {
  margin-top: 20%;
  margin-right: 10%;
}

.iconsSecThree i {
  border: 3px solid black;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
}

.vl {
  border-left: 6px solid black;
  height: 100px;
  text-align: center;
  position: relative;
  left: 50%;
}

.hSecFour h2 {
  text-align: center;
  margin-bottom: 10%;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.teamContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teamOne {
  width: 48%;
  margin-right: 30px;
  margin-bottom: 30px;
}

.teamImgGrpOne,
.teamImgGrpTwo,
.teamImgWithTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teamImgGrpOne img:last-child,
.teamImgGrpTwo img:last-child,
.teamTwoTxt {
  margin-left: 30px;
}

.teamImgWithTxt,
.teamImgGrpOne {
  margin-top: 30px;
}

.teamOneTxt p {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.teamOneTxt {
  padding-top: 139px;
}

.teamOneTxt h3 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.teamTwoTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teamTwoTxt h3 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  width: 62%;
}

.teamOne,
.teamTwo {
  width: calc(100% / 2);
}

.hSecFive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
}

.secFiveTxt,
.secFiveImg {
  width: calc(100% / 2);
}

.secFiveImg img {
  width: 100%;
}

.secFiveTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secFiveTxtContain {
  width: 50%;
  text-align: center;
}

.secFiveTxtContain p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 24px;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
